.btn {
    border-radius:100px;
    border-width: 2px;
    padding: .375rem 1.25rem;
    &-primary {
        background-color: var(--primary);
        border-color: var(--primary);
        &:hover, &:focus {
            background-color: var(--primary-light);
            border-color: var(--primary-light);
        }
        &:focus {
            box-shadow: none;
        }
    }
    &-secondary {
        background: #333;
        border-color: #333;
    }
    &-danger {
        background: #f00;
        border-color: #f00;
    }
    &-dark {
        background: #222;
        border-color: #222;
    }
    &-outline {
        &-primary {
            border-color: var(--primary);
            color: var(--primary);
            &:hover, &:focus {
                background-color: var(--primary-light);
                border-color: var(--primary-light);
            }
            &:focus {
                box-shadow: none;
            }
        }
        &-danger {
            border-color: #f00;
            color: #f00;
        }
        &-dark {
            border-color: #222;
            color: #222;
        }
    }
}