.table {
    td, th {
        padding: 1rem;
    }
    thead {
        color: #fff;
        th {
            border: none;
            &:first-child {
                border-radius: var(--radius) 0 0 var(--radius);
            }
            &:last-child {
                border-radius: 0 var(--radius) var(--radius) 0;
            }
        }
    }
    tbody {
        color: var(--bg-color-sc);
        tr {
            background: rgba($color: #fff, $alpha: .05);
            th:first-child {
                border-radius: var(--radius) 0 0 var(--radius);
            }
            th, td {
                border-color: var(--bg-color);
            }
            td {
                &:last-child {
                    border-radius: 0 var(--radius) var(--radius) 0;
                }    
            }
            td {
                .table-button {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    &-button {
        background: rgba($color: #fff, $alpha: .05);
        padding: 5px;
        display: inline-flex;
        border-radius: 100px;
        color: #fff;
        svg {
            width: 16px;
            height: 16px;
        }
        &:hover {
            background: #fff;
            color: var(--bg-color);
        }
    }
}