:root {
    --bg-color: #070707;
    --bg-color-sc: #999;
    --primary: #74c162;
    --primary-dark: #439035;
    --primary-light: #a6f491;
    --radius: 12px;
}
::-webkit {
    &-scrollbar {
        width: 5px;
        height: 5px;
        &-track {
            background: rgba($color: #fff, $alpha: .05);
        }
        &-thumb {
            background: var(--primary);
            &:hover {
                background: var(--primary-dark);
            }
        }
    }
}
html, body {
    background: var(--bg-color);
    color: #ffff;
    text-rendering: optimizeLegibility;
}
.text {
    &-colorado {
        color: var(--bg-color-sc);
    }
}
body {
    font-family: "Inter",sans-serif;
}
a {
    color: var(--primary);
    &:hover {
        color: var(--primary-light);
    }
}
h {
    &1, &2, &3, &4, &5, &6 {
        font-family: "Inter",sans-serif;
    }
}
button {
    appearance: none;
}
@import 'button';
@import 'form';
@import 'modal';
@import 'sidebar';
@import 'wrapper';
@import 'table';