:root {
  --bg-color: #070707;
  --bg-color-sc: #999;
  --primary: #74c162;
  --primary-dark: #439035;
  --primary-light: #a6f491;
  --radius: 12px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

html, body {
  background: var(--bg-color);
  color: #ffff;
  text-rendering: optimizeLegibility;
}

.text-colorado {
  color: var(--bg-color-sc);
}

body {
  font-family: "Inter",sans-serif;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary-light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter",sans-serif;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.btn {
  border-radius: 100px;
  border-width: 2px;
  padding: .375rem 1.25rem;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

.btn-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secondary {
  background: #333;
  border-color: #333;
}

.btn-danger {
  background: #f00;
  border-color: #f00;
}

.btn-dark {
  background: #222;
  border-color: #222;
}

.btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary);
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

.btn-outline-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-danger {
  border-color: #f00;
  color: #f00;
}

.btn-outline-dark {
  border-color: #222;
  color: #222;
}

.form-control {
  border-radius: 8px;
  border: none;
  background: #202020;
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.05);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.05);
}

.select2-container.select2-container--focus .select2-selection--multiple {
  border: none;
}

.select2-container .select2-selection--single {
  height: auto;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: .25rem 25px .25rem .75rem;
}

.select2-container .select2-selection--multiple {
  height: auto;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 0 .75rem;
}

.select2-container .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  background: rgba(255, 255, 255, 0.05);
  border: none;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.select2-dropdown {
  background: #202020;
  border: none;
}

.select2-dropdown--above {
  border-radius: 8px 8px 0 0 !important;
}

.select2-dropdown--below {
  border-radius: 0 0 8px 8px !important;
}

.select2-results__option {
  padding: .25rem .75rem;
}

.select2-results__option--highlighted[aria-selected] {
  background-color: var(--primary) !important;
}

.select2-results__option[aria-selected='true'] {
  background: rgba(255, 255, 255, 0.05) !important;
}

.select2-search--dropdown {
  padding: .75rem;
}

.select2-search__field {
  border: none !important;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.select2-selection__arrow {
  top: calc(50% - 13px) !important;
  right: 0.5rem !important;
}

.modal {
  z-index: 9999;
}

@media screen and (min-width: 1024px) {
  .modal-backdrop {
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

.modal-content {
  background: #202020;
  border: none;
  border-radius: var(--radius);
}

.modal-header {
  border: none;
  position: relative;
  padding: 1.25rem;
}

.modal-header::after {
  height: 1px;
  left: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.1);
  bottom: 0;
  content: "";
  position: absolute;
}

.modal-header .close {
  color: #fff;
}

.modal-body {
  padding: 1.25rem;
}

.modal-footer {
  padding: 1.25rem;
  position: relative;
  border: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-footer::before {
  height: 1px;
  left: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  content: "";
  position: absolute;
}

.modal-footer > * {
  margin: 0;
}

.modal-footer .btn:not(:last-child) {
  margin-right: .25rem;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #101010;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .sidebar {
    width: 20vw;
  }
}

@media screen and (max-width: 1023px) {
  .sidebar {
    padding: 2.5rem 2rem;
    width: 80vw;
  }
  .sidebar-backdrop {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0;
    right: 0;
  }
}

.sidebar-user {
  padding-left: 65px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
}

.sidebar-user img {
  --this-w: 50px;
  border-radius: 100%;
  width: var(--this-w);
  height: var(--this-w);
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar-user h3 {
  font-weight: 700;
  font-size: 18px;
}

.sidebar-user h6 {
  font-size: 14px;
  color: var(--bg-color-sc);
}

.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.sidebar-menu ul li {
  position: relative;
}

.sidebar-menu ul li a {
  display: block;
  padding: .5rem 0;
  border-radius: 12px;
  font-weight: 500;
  color: #f1f1f1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.sidebar-menu ul li a .right {
  position: absolute;
  right: 0;
}

.sidebar-menu ul li a .left {
  margin-right: 10px;
}

.sidebar-menu ul li a:hover {
  text-decoration: none;
  color: var(--primary);
}

.sidebar-menu ul li:not(:last-child) {
  margin-bottom: 10px;
}

.sidebar-menu h3 {
  font-size: 14px;
  color: var(--bg-color-sc);
}

@media screen and (min-width: 1024px) {
  .wrapper {
    --margin-left: calc(var(--marleft) + 3.5rem - 8px );
    margin-left: var(--margin-left);
    position: relative;
    padding: 2rem 2rem 1rem 2rem;
  }
  .wrapper .navbar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    left: var(--margin-left);
    background: rgba(7, 7, 7, 0.5);
    -webkit-backdrop-filter: saturate(100%) blur(20px);
            backdrop-filter: saturate(100%) blur(20px);
    padding: 1rem calc(2rem + 15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .wrapper main {
    margin-top: 5rem;
  }
}

.wrapper .form-search {
  position: relative;
}

.wrapper .form-search .btn {
  position: absolute;
  right: 10px;
  padding: 0;
  border: none;
  top: calc(50% - 14px);
  color: #fff;
}

.wrapper .form-search .form-control {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

@media screen and (min-width: 1024px) {
  .wrapper .form-search .form-control {
    width: 300px;
  }
}

.overview .card {
  background: rgba(255, 255, 255, 0.05);
  --this-gap: 1.5rem;
  padding: var(--this-gap);
  border-radius: var(--radius);
  position: relative;
}

@media screen and (max-width: 1023px) {
  .overview .card {
    margin-bottom: 10px;
  }
}

.overview .card .percentage, .overview .card .iconak, .overview .card .label-left {
  position: absolute;
}

.overview .card .percentage {
  right: var(--this-gap);
  top: var(--this-gap);
}

.overview .card h3 {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .overview .card h3 {
    font-size: 48px;
    padding: 3.5rem 0;
  }
}

@media screen and (max-width: 1023px) {
  .overview .card h3 {
    font-size: 42px;
    padding: 2rem 0;
  }
}

.overview .card .iconak {
  left: var(--this-gap);
  top: var(--this-gap);
}

.overview .card .label-left {
  left: var(--this-gap);
  bottom: var(--this-gap);
}

.table td, .table th {
  padding: 1rem;
}

.table thead {
  color: #fff;
}

.table thead th {
  border: none;
}

.table thead th:first-child {
  border-radius: var(--radius) 0 0 var(--radius);
}

.table thead th:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
}

.table tbody {
  color: var(--bg-color-sc);
}

.table tbody tr {
  background: rgba(255, 255, 255, 0.05);
}

.table tbody tr th:first-child {
  border-radius: var(--radius) 0 0 var(--radius);
}

.table tbody tr th, .table tbody tr td {
  border-color: var(--bg-color);
}

.table tbody tr td:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
}

.table tbody tr td .table-button:not(:last-child) {
  margin-right: 10px;
}

.table-button {
  background: rgba(255, 255, 255, 0.05);
  padding: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 100px;
  color: #fff;
}

.table-button svg {
  width: 16px;
  height: 16px;
}

.table-button:hover {
  background: #fff;
  color: var(--bg-color);
}
/*# sourceMappingURL=style.css.map */